<?xml version="1.0" encoding="utf-8"?>
<!-- open source and only open source apps dzmitry lahoda installs automatically onto his pc  -->
<packages>   
    <package id="dotnetcore-sdk" version="2.2.203" />
    <package id="netfx-4.7.2-devpack" />
    <package id="android-sdk" />
    <package id="rust" />
    <package id="zig" />
    <package id="wireshark" />
    <package id="ghc" />
    <package id="rufus" />
    <package id="ilspy" />
    <package id="dnspy" />
    <package id="docker-machine" />
    <package id="docker-desktop" />
    <package id="docker-cli" />
    <package id="cmake" />
</packages>
