<?xml version="1.0" encoding="utf-8"?>
<!-- open source and only open source apps dzmitry lahoda installs automatically onto his pc  -->
<packages>
    <package id="cmder" />   
    <package id="firefox" />
    <package id="doublecmd" />
    <package id="imageglass" />
    <package id="gimp" />
    <package id="libreoffice-fresh" />
    <package id="veracrypt" />
    <package id="telegram" />
    <package id="pwsh" />
    <package id="wire" />
    <package id="vim" />
    <package id="dotnetcore-sdk" version="2.2.203" />
    <package id="netfx-4.7.2-devpack" />
    <package id="android-sdk " />
    <package id="vlc" />
    <package id="riot-web" />
    <package id="fake" />
    <package id="tor-browser" />
    <package id="sumatrapdf.install" />
    <package id="meld" />
</packages>
