<?xml version="1.0" encoding="utf-8"?>
<packages>

<package id="7zip.install" />
<package id="doublecmd.install" categories="explorer, file manager"/>
<package id="nuget.commandline" />
<package id="truecrypt.install" />
<package id="notepadplusplus.install" />
<package id="filezilla" categories="ftp, file manager" />

<package id="jpegview" categories="viewer"/>
<package id="sumatrapdf.install" categories="reader, viewer"/>
<package id="ffdshow" />
<package id="vlc" categories="player" />
<package id="wincdemu" />
<package id="ssh" role="putty" />

<package id="adb" categories="android, drivers, tool" />

<package id="brackets" role="developer" categoris="web, javascript, editor" />
<package id="nmap" role="power_user" categories="networking, scanner" />
<package id="nirlauncher" role="power_user"  />

<package id="cygwin" />
<package id="cyg-get" />
<package id="gtksharp" />
<package id="javaruntime"  categories="virtualization" />
<package id="dotnet4.5.2"  categories="virtualization" />
<package id="virtualbox"  categories="virtualization, host" /> 
<package id="virtualbox.extensionpack"  categories="virtualization, host" /> 

<!-- to replace powershell scripts with F# scripts -->
<package id="visualfsharptools" categories="scripting" />

<package id="visualstudio2013teamexplorer" categories="visual_studio, tfs" />

<package id="powershell4" categories="scripting, automation"/>

<!-- security and communication -->
<package id="gpg4win" />

<package id="telegram" categories="communication"/>

<!-- <package id="skype"  categories="proprietary, communication" />  -->
<package id="viber" categories="proprietary, communication" />

<!-- Power User -->
<package id="sysinternals" />
<package id="processhacker.install" />
<package id="imdisk" />
<package id="sqlite.shell" />
<package id="openhardwaremonitor" />
<package id="rufus" />
<package id="testdisk" />

<package id="windirstat" categories="support, diagnostics"/>


<package id="debugdiagnostic" categories="development, support" />

<package id="git.install" categories="development, git" />
<package id="tortoisegit" categories="development, git" /> 

<package id="nodejs.install" role="power_user" categories="development, runtime, scripting" /> 


<package id="directx" categories="graphics, drivers" />
<package id="microsoft-build-tools" categories="development, .net" />
<package id="netfx-4.5.2-devpack" categories="development, .net" />
<package id="nugetpackageexplorer" categories="development, .net" />
<package id="ilspy" categories="development, .net" />
<package id="specflow" categories="development, .net" />
<package id="xamarin-studio" categories="development, .net" />
<package id="snoop" categories="development, .net, wpf" />
<package id="sharpdevelop" categories="development, .net" />

<package id="golang" role="power_user" categories="scripting; runtime" />

<package id="webexplayer" categories="corporate, proprietary, communication" />
<package id="swi-prolog" categories="modelling" />
<package id="wixtoolset" categories="development, windows" roles="developer" />

<package id="far" roles="power user" categories="explorer, file manager" />
<package id="conemu" roles="power user" />
<package id="qttabbar" role="power user" categories="explorer, extension" />

<package id="windows-sdk-8.1" roles="power user; developer" categories="development; windows" />

<package id="tortoisehg" categories="development, vcs" />
<package id="jdk8" categories="portable"  />
<package id="eclipse"  categories="portable" />
<package id="rust" categories="portable" />
<package id="codeblocks" categories="portable" />
<package id="seleniumiedriver"  categories="automation" />
<package id="fiddler" categories="network" />
<package id="winpcap" categories="network" />
<package id="wireshark"  categories="network" />
<package id="android-sdk"  categories="mobile" />

<package id="taskcoach"  categories="work" />
<package id="workrave"  categories="work" />

<package id="greenshot"  categories="office" />
<package id="libreoffice"  categories="office" />
<package id="projectlibre"  categories="office" />
<package id="freemind"  categories="office" />
<package id="goldendict-en-ru-en.install"  categories="office" />
<package id="gnucash"  categories="office, financial" />


<package id="tor-browser"  categories="remote" />
<package id="winscp"  categories="remote" />
<package id="qbittorrent"  categories="remote" />
<package id="freedownloadmanager"  categories="remote" />
<package id="seafile-client"  categories="storage" />
<package id="dropbox"  categories="storage" />
<package id="yandexdisk"  categories="storage" />
<package id="googledrive" role="user , \+ power_user"  categories="storage" />
<package id="vim"  categories="editor" />
<package id="virtualdub"  categories="editor" />
<package id="avidemux"  categories="editor" />
<package id="gimp"  categories="editor" />     
<package id="inkscape"  categories="editor" />     
<package id="imagemagic"  categories="editor" />     


</packages>
