<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FAKE" version="3.33.0" />
  <package id="FAKE.Core" version="3.33.0" />
  <package id="NuGet.CommandLine" version="2.8.5" />
  <package id="Paket" version="1.5.0-alpha001" />
  <package id="FSharp.ComProvider" version="1.0.0-pre1" targetFramework="net40" />
  <package id="FSharp.Configuration" version="0.5.1" targetFramework="net40" />
  <package id="FSharp.Data" version="2.2.2" targetFramework="net40" />
  <package id="FSharp.Management" version="0.2.0" targetFramework="net40" />
  <package id="RegexProvider" version="0.0.5" targetFramework="net40" />
</packages>