<?xml version="1.0" encoding="utf-8"?>
<packages>

<package id="7zip" />
<package id="doublecmd" tags="explorer, file manager"/>
<package id="nuget.commandline" />
<package id="truecrypt" />
<package id="notepadplusplus" />

<package id="jpegview" />
<package id="sumatrapdf" />
<package id="ffdshow" />
<package id="vlc" />

<package id="wincdemu" />

<package id="cygwin" />
<package id="cyg-get" />
<package id="gtksharp" />
<package id="javaruntime" />
<package id="dotnet4.5.2" />

<!-- to replace powershell scripts with F# scripts -->
<package id="visualfsharptools" />
<!-- ensure latest automation to work on machine -->
<package id="powershell4" />

<!-- security and communication -->
<package id="gpg4win" />

<!-- communicators -->
<package id="telegram" />

<package id="skype"  tags="proprietary, communication" /> 
<package id="viber" tags="proprietary, communication" />

<!-- Power User -->
<package id="sysinternals" />
<package id="processhacker.install" />
<package id="imdisk" />
<package id="sqlite.shell" />
<package id="openhardwaremonitor" />
<package id="rufus" />
<package id="testdisk" />

<package id="windirstat" tags="support, diagnostics"/>


<package id="debugdiagnostic" tags="development, support" />

<package id="git.install" tags="development, git" />
<package id="tortoisegit" tags="development, git" /> 

<package id="microsoft-build-tools" tags="development, .net" />
<package id="netfx-4.5.2-devpack" tags="development, .net" />
<package id="nugetpackageexplorer" tags="development, .net" />
<package id="ilspy" tags="development, .net" />
<package id="specflow" tags="development, .net" />
<package id="xamarin-studio" tags="development, .net" />
<package id="snoop" tags="development, .net, wpf" />
<package id="sharpdevelop" tags="development, .net" />

<package id="webexplayer" tags="corporate, proprietary, communication" />

<package id="wixtoolset" tags="development, windows" role="developer" />

<package id="far" role="power user, developer" tags="explorer, file manager" />
<package id="conemu" role="power user, developer" />


</packages>
